@use "../abstracts/mixins" as *;

header {
   border-radius: 0rem 0rem 0rem 6.25rem;
   background: var(--back-gradient);
   overflow: hidden;

  .header-background {
      background-image: url(../assets/images/bg-pattern-intro-desktop.svg);
      background-position: 25% center;
      width: 100%;
      height: 100%;

      @include mq (small) {
         background-image: url(../assets/images/bg-pattern-intro-mobile.svg);
         background-position: 36% 32%;
      }
   }
}

.header-top {
   display: flex;
   align-items: center;
   padding-block: 3.94rem 7.69rem;
   gap: 4rem;

   @include mq (medium) {
      padding-block: 3.5rem 6.75rem;
   }
}

.primary-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

   @include mq (medium) {
      position: absolute;
      z-index: 10;
      flex-direction: column;
      background-color: hsl(var(--clr-neutral-1));
      top: 7.81rem;
      right: 0;
      left: 0;
      padding: 1.5rem;
      margin-inline: 1.5rem;
      width: auto;
      border-radius: 0.3125rem;
      box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
      opacity: 0; 
      transition: opacity 0.3s ease;
      pointer-events: none;
   }
} 

.primary-navigation[data-visible="true"] {
   @include mq (medium) {
      display: block;
      opacity: 1;
      pointer-events: auto;
   }
}   

.nav-container {
   display: flex;
   align-items: center;
   gap: 4rem;

   @include mq (medium) {
      flex-direction: column;
      gap: $mobile-nav-gap;
      width: 100%;
      border-bottom: 1px solid hsl(var(--clr-border));
   }
}

.dropdown-wrapper {
   display: flex;
   gap: 2rem;

   @include mq (medium) {
      flex-direction: column;
      gap: $mobile-nav-gap;
      margin-bottom: $mobile-nav-gap;
      width: 100%;
   }
}

.dropdown {
   position: relative;
   display: inline-block;

   @include mq (medium) {
     text-align: center;
   }
}

.dropdown-content {
   position: absolute;
   background-color: hsl(var(--clr-neutral-1));
   padding: 1.5rem;
   border-radius: 0.3125rem;
   box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
   z-index: 1;
   margin-top: 1.69rem;
   opacity: 0; 
   transform: translateY(-10px); 
   transition: opacity 0.3s ease, transform 0.3s ease; 
   pointer-events: none;

   @include mq (medium) {
      position:relative;
      opacity: 1; 
      box-shadow: none;
      transform: none;
      margin-top: $mobile-nav-gap;
      background-color: hsl(var(--gradient-body-1), .08);

      display: none;
   }
 }

 .show {
   display:block;
   opacity: 1; 
   transform: translateY(0);
   pointer-events: auto;
}

 .dropdown-content a {
   color: hsl(var(--gradient-body-1));
   font-family: 'Ubuntu';
   font-size: 0.9375rem;
   font-weight: 400;
   line-height: 2.0625rem;
   text-decoration: none;
   display: block;

   &:hover {
      transition: 0.2s;
      font-weight: 700;
   }

   @include mq (medium) {
      color: hsl(var(--clr-primary-3), .75);
      font-family: Overpass;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.75rem; 
      
      &:not(:last-child) {
         margin-bottom: 0.75rem;
      }

      &:hover {
         color: hsl(var(--clr-primary-3));
      }
   }
 }

 .signup-wrapper {
   display: flex;
   gap: 2rem;

   @include mq (medium) {
      flex-direction: column;
      align-items: center;
      gap: $mobile-nav-gap;
      margin-top: $mobile-nav-gap;
   }
 }

 .hero-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   & h1 {
      @include mq (small) {
         max-width: 20rem;
      }
   }
 }

 .header-statement {
   font-size: 1.25rem;
   font-weight: 400;
   line-height: normal;
   color: hsl(var(--clr-neutral-1));
 }

 .hero-buttons {
   display: flex;
   gap: 1rem;
   margin-block:2.62rem 9.69rem;
 }

 .header-logo {
   & img {
      width: 7.6125rem;
      height: auto;
   }
 }

 