@use "../abstracts/mixins" as *;

.section-1 {
      padding-block:9.37rem 16.38rem;
      position: relative;
      overflow: hidden;

      @include mq(small) {
         padding-block:6.25rem 17.06rem;
      } 

      &::after {
         position: absolute;
         content: '';
         background-image: url(../assets/images/illustration-editor-desktop.svg);
         background-repeat: no-repeat;
         background-position: 4.3rem center;
         top: 4.44rem;
         left: 50%;
         width: 55.3125rem;
         height: 55.125rem;
         display: block;

         @include mq(small) {
            background-image: none;
         } 
      }

      & h2 {
         text-align: center;
         margin-bottom: 5.81rem;
      
         @include mq(small) {
            margin-bottom: 2.37rem;
         }
      }

      & h3 {
         @include mq(small) {
            max-width: 19rem;
         }
      }
}

.editor-mobile-pic {
   display: none;

   @include mq(small) {
      width: 20.375rem;
      height: 20.375rem;
      display: block;
      margin-bottom: $pic-bottom;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
         position: absolute;
         width: 25.375rem;
         height: 20.55rem;
         max-width: none;
      }
   } 
}




